/* Browser overrides */
button:focus {
    outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/* Variables */
:root {
    --cell-bg-color: rgb(163, 192, 183);
    --cell-border-light-color: rgb(231, 224, 208);
    --cell-border-dark-color: rgb(58, 38, 83);
    --cell-undiscovered-border-light-color: rgb(216, 211, 198);
    --cell-undiscovered-border-dark-color: rgb(117, 92, 148);
    --cell-size: 25px;
    --button-main-color: rgb(33, 11, 59);
    --button-pressed-color: rgb(58, 38, 83);
    --button-outline-color: rgba(110, 85, 141, 0.5);
}

/* Bootstrap extensions */
.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}

/* Global styles */
html, body {
    height: 100%;
}
body {
    background-color: #ac1b80;
    font-family: 'Nova Round', cursive;
}

/* Elements */
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
}

#form-field {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.form-button {
    padding: 0.5rem 2rem 0.5rem 2rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-self: center;
    color: white;
    border-radius: 7px;
    border: 0 solid transparent;
    background-color: var(--button-main-color);
}

.form-button:hover {
    animation: button-hover .5s ease infinite alternate;
}

.form-button:focus {
    animation: button-click 1s ease;
}

@keyframes button-hover {
    from {
        background-color: var(--button-main-color);
        box-shadow: 0 0 0 0 transparent;
    }
    to {
        background-color: var(--button-pressed-color);
        box-shadow: 0 0 0 4px var(--button-outline-color);
    }
}

@keyframes button-click {
    0% {
        background-color: var(--button-main-color);
        box-shadow: 0 0 0 0 transparent;
    }
    50% {
        background-color: var(--button-pressed-color);
        box-shadow: 0 0 0 4px var(--button-outline-color);
    }
    100% {
        background-color: var(--button-main-color);
        box-shadow: 0 0 0 16px transparent;
    }
}

#div-game {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(58, 38, 83, 0.8);
}

#div-field {
    display: grid;
    cursor: pointer;
    transform-origin: center;
    transition: all .25s ease;
    width: max-content;
}

.cell {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: var(--cell-bg-color);
    border: 1.5px solid;
    border-color: var(--cell-border-dark-color) transparent transparent var(--cell-border-dark-color);
}

.cell-number {
    font-family: 'Work Sans', sans-serif;
    font-size: 15pt;
}

.cell-bomb {
    font-size: 10pt;
    pointer-events: none;
}

.cell-flag {
    font-size: 10pt;
}

.cell-undiscovered {
    border-width: 3px;
    border-top-color: var(--cell-undiscovered-border-light-color);
    border-left-color: var(--cell-undiscovered-border-light-color);
    border-right-color: var(--cell-undiscovered-border-dark-color);
    border-bottom-color: var(--cell-undiscovered-border-dark-color);
}

.cell-undiscovered:active {
    border-top-color: var(--cell-undiscovered-border-dark-color);
    border-left-color: var(--cell-undiscovered-border-dark-color);
    border-right-color: var(--cell-undiscovered-border-light-color);
    border-bottom-color: var(--cell-undiscovered-border-light-color);
}