@import url('https://fonts.googleapis.com/css2?family=Nova+Round');

/* Browser overrides */

button:focus {
    outline: none !important;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Variables */

:root {
    --theme-dark-color: rgb(58, 38, 83);
    --theme-light-color: rgb(117, 92, 148);
    --button-main-color: rgb(33, 11, 59);
    --button-pressed-color: var(--theme-dark-color);
    --button-outline-color: rgba(110, 85, 141, 0.5);
}

/* Bootstrap extensions */

.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}

/* Global styles */

body {
    background-color: var(--theme-dark-color);
    font-family: 'Nova Round';
}

::selection {
    background-color: rgba(117, 92, 148, 0.25);
}

/* Elements */

#div-game-container {
    transition: all .25s ease;
}

h1.bouncing {
    user-select: none;
}

.centered {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anchor-top-right {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}

.box {
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.github-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

.number-display {
    color: var(--button-pressed-color);
    width: 3em;
    text-align: center;
}

.button-primary {
    padding: 0.5rem 2rem 0.5rem 2rem;
    color: white;
    border-radius: 7px;
    border: 0 solid transparent;
    background-color: var(--button-main-color);
}

.button-primary-click {
    animation: button-primary-click .5s ease !important;
}

@keyframes button-primary-click {
    0% {
        background-color: var(--button-pressed-color);
        box-shadow: 0 0 0 4px var(--button-outline-color);
    }
    100% {
        background-color: var(--button-main-color);
        box-shadow: 0 0 0 16px transparent;
    }
}

.button-primary:hover {
    animation: button-primary-hover .5s ease infinite alternate;
}

@keyframes button-primary-hover {
    from {
        background-color: var(--button-main-color);
        box-shadow: 0 0 0 0 transparent;
    }
    to {
        background-color: var(--button-pressed-color);
        box-shadow: 0 0 0 4px var(--button-outline-color);
    }
}

.github-button, .github-button:hover, .github-button:visited, .github-button:link, .github-button:active {
    color: white;
    text-decoration: none;
    outline: none;
    padding: 0.5rem;
    border-top-right-radius: 0px; 
    border-top-left-radius: 0px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.75);
}

.overlay-button {
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem 0.5rem 0rem 0.5rem;
    border-radius: 2rem;
    transition: all 0.25s ease;
}

.overlay-button-click {
    animation: overlay-button-click .5s ease !important;
}

@keyframes overlay-button-click {
    0% {
        box-shadow: 0 0 0 4px var(--button-outline-color);
    }
    100% {
        box-shadow: 0 0 0 12px transparent;
    }
}

.overlay-button:hover {
    background-color: var(--button-outline-color);
}