:root {
    --cell-bg-color: rgb(163, 192, 183);
    --cell-border-light-color: rgb(231, 224, 208);
    --cell-border-dark-color: rgb(58, 38, 83);
    --cell-undiscovered-border-light-color: rgb(216, 211, 198);
    --cell-undiscovered-border-dark-color: rgb(117, 92, 148);
    --cell-size: 50px;
}

button:focus {
    outline: none;
}

#div-field {
    cursor:pointer;
    transform-origin: top;
}

.cell {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: var(--cell-bg-color);
    font-weight: bold;
    font-size: xx-large;
    border-width: 3px;
    border-style: solid;
    border-color: var(--cell-border-dark-color) transparent transparent var(--cell-border-dark-color);
}

.cell-undiscovered {
    background-color: var(--cell-bg-color);
    width: var(--cell-size);
    height: var(--cell-size);
    border-width: 6px;
    border-top-color: var(--cell-undiscovered-border-light-color);
    border-left-color: var(--cell-undiscovered-border-light-color);
    border-right-color: var(--cell-undiscovered-border-dark-color);
    border-bottom-color: var(--cell-undiscovered-border-dark-color);
}

.cell-undiscovered:active {
    border-top-color: var(--cell-undiscovered-border-dark-color);
    border-left-color: var(--cell-undiscovered-border-dark-color);
    border-right-color: var(--cell-undiscovered-border-light-color);
    border-bottom-color: var(--cell-undiscovered-border-light-color);
}